<p id="notice"><%= notice %></p>

<p>
  <b>Rank:</b>
  <%= @proj.rank %>
</p>

<p>
  <b>Player:</b>
  <%= @proj.player %>
</p>

<p>
  <b>Team:</b>
  <%= @proj.team %>
</p>

<p>
  <b>Pos:</b>
  <%= @proj.pos %>
</p>

<p>
  <b>Gp:</b>
  <%= @proj.gp %>
</p>

<p>
  <b>G:</b>
  <%= @proj.g %>
</p>

<p>
  <b>A:</b>
  <%= @proj.a %>
</p>

<p>
  <b>Pts:</b>
  <%= @proj.pts %>
</p>

<p>
  <b>Plus minus:</b>
  <%= @proj.plus_minus %>
</p>

<p>
  <b>Pim:</b>
  <%= @proj.pim %>
</p>

<p>
  <b>Ppp:</b>
  <%= @proj.ppp %>
</p>


<%= link_to 'Edit', edit_proj_path(@proj) %> |
<%= link_to 'Back', projs_path %>
