<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @stat.Player %>
</p>

<p>
  <b>Position:</b>
  <%= @stat.Position %>
</p>

<p>
  <b>A:</b>
  <%= @stat.a %>
</p>

<p>
  <b>A g:</b>
  <%= @stat.a_g %>
</p>

<p>
  <b>Bks:</b>
  <%= @stat.bks %>
</p>

<p>
  <b>Eng:</b>
  <%= @stat.eng %>
</p>

<p>
  <b>Es toi:</b>
  <%= @stat.es_toi %>
</p>

<p>
  <b>Es toi g:</b>
  <%= @stat.es_toi_g %>
</p>

<p>
  <b>Esa:</b>
  <%= @stat.esa %>
</p>

<p>
  <b>Esfol:</b>
  <%= @stat.esfol %>
</p>

<p>
  <b>Esfow:</b>
  <%= @stat.esfow %>
</p>

<p>
  <b>Esg:</b>
  <%= @stat.esg %>
</p>

<p>
  <b>Esp:</b>
  <%= @stat.esp %>
</p>

<p>
  <b>First g:</b>
  <%= @stat.first_g %>
</p>

<p>
  <b>Fo perc:</b>
  <%= @stat.fo_perc %>
</p>

<p>
  <b>Fo total:</b>
  <%= @stat.fo_total %>
</p>

<p>
  <b>Fol:</b>
  <%= @stat.fol %>
</p>

<p>
  <b>Fow:</b>
  <%= @stat.fow %>
</p>

<p>
  <b>G:</b>
  <%= @stat.g %>
</p>

<p>
  <b>G g:</b>
  <%= @stat.g_g %>
</p>

<p>
  <b>G misc:</b>
  <%= @stat.g_misc %>
</p>

<p>
  <b>Gp:</b>
  <%= @stat.gp %>
</p>

<p>
  <b>Gva:</b>
  <%= @stat.gva %>
</p>

<p>
  <b>Gwg:</b>
  <%= @stat.gwg %>
</p>

<p>
  <b>Hits:</b>
  <%= @stat.hits %>
</p>

<p>
  <b>Major:</b>
  <%= @stat.major %>
</p>

<p>
  <b>Match pen:</b>
  <%= @stat.match_pen %>
</p>

<p>
  <b>Minor:</b>
  <%= @stat.minor %>
</p>

<p>
  <b>Misc:</b>
  <%= @stat.misc %>
</p>

<p>
  <b>Mss:</b>
  <%= @stat.mss %>
</p>

<p>
  <b>Otg:</b>
  <%= @stat.otg %>
</p>

<p>
  <b>P:</b>
  <%= @stat.p %>
</p>

<p>
  <b>P g:</b>
  <%= @stat.p_g %>
</p>

<p>
  <b>Pim:</b>
  <%= @stat.pim %>
</p>

<p>
  <b>Plus minus:</b>
  <%= @stat.plus_minus %>
</p>

<p>
  <b>Pp toi:</b>
  <%= @stat.pp_toi %>
</p>

<p>
  <b>Pp toi g:</b>
  <%= @stat.pp_toi_g %>
</p>

<p>
  <b>Ppa:</b>
  <%= @stat.ppa %>
</p>

<p>
  <b>Ppfol:</b>
  <%= @stat.ppfol %>
</p>

<p>
  <b>Ppfow:</b>
  <%= @stat.ppfow %>
</p>

<p>
  <b>Ppg:</b>
  <%= @stat.ppg %>
</p>

<p>
  <b>Ppp:</b>
  <%= @stat.ppp %>
</p>

<p>
  <b>Ps:</b>
  <%= @stat.ps %>
</p>

<p>
  <b>S g:</b>
  <%= @stat.s_g %>
</p>

<p>
  <b>Sft g:</b>
  <%= @stat.sft_g %>
</p>

<p>
  <b>Sh toi:</b>
  <%= @stat.sh_toi %>
</p>

<p>
  <b>Sh toi g:</b>
  <%= @stat.sh_toi_g %>
</p>

<p>
  <b>Sha:</b>
  <%= @stat.sha %>
</p>

<p>
  <b>Shfol:</b>
  <%= @stat.shfol %>
</p>

<p>
  <b>Shfow:</b>
  <%= @stat.shfow %>
</p>

<p>
  <b>Shg:</b>
  <%= @stat.shg %>
</p>

<p>
  <b>Shifts:</b>
  <%= @stat.shifts %>
</p>

<p>
  <b>Shot perc:</b>
  <%= @stat.shot_perc %>
</p>

<p>
  <b>Shots:</b>
  <%= @stat.shots %>
</p>

<p>
  <b>Shp:</b>
  <%= @stat.shp %>
</p>

<p>
  <b>Tka:</b>
  <%= @stat.tka %>
</p>

<p>
  <b>Toi:</b>
  <%= @stat.toi %>
</p>

<p>
  <b>Toi g:</b>
  <%= @stat.toi_g %>
</p>

<p>
  <b>Toi s:</b>
  <%= @stat.toi_s %>
</p>

<p>
  <b>Total so g:</b>
  <%= @stat.total_so_g %>
</p>

<p>
  <b>Total so gdg:</b>
  <%= @stat.total_so_gdg %>
</p>

<p>
  <b>Total so s:</b>
  <%= @stat.total_so_s %>
</p>

<p>
  <b>Gs:</b>
  <%= @stat.gs %>
</p>

<p>
  <b>W:</b>
  <%= @stat.w %>
</p>

<p>
  <b>L:</b>
  <%= @stat.l %>
</p>

<p>
  <b>Ot:</b>
  <%= @stat.ot %>
</p>

<p>
  <b>Sa:</b>
  <%= @stat.sa %>
</p>

<p>
  <b>Ga:</b>
  <%= @stat.ga %>
</p>

<p>
  <b>Gaa:</b>
  <%= @stat.gaa %>
</p>

<p>
  <b>Sv:</b>
  <%= @stat.sv %>
</p>

<p>
  <b>Sv perc:</b>
  <%= @stat.sv_perc %>
</p>

<p>
  <b>So:</b>
  <%= @stat.so %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
